<div class="container">
    <h1>ng2-table with Angular 6</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <input *ngIf="config.filtering" placeholder="Buscar..." [ngTableFiltering]="config.filtering" class="form-control" (tableChanged)="onChangeTable(config)"
            />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-md-9">
            <!-- Tabla -->
            <div class="table-responsive">
                <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [columns]="columns"
                    [rows]="rows">
                </ng-table>
            </div>
            <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
            </pagination>
            <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>


        </div>
        <div class="col-12 col-md-3 pull-right">
            <p>Estos son los datos obtenidos del API:</p>
            <pre>
                {{data | json}}
            </pre>
        </div>

    </div>

</div>